.form {
	text-align: right;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #EF8354;
	border: 1px solid #EF8354;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #b6633f;
	border-color: #b6633f;
}
