.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #EF8354;
    color: white;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #b8552b;
  }
  
  .icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.5rem;
    position: relative;
  }
  
  .badge {
    background-color: #f2d4c7;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    right: -0.25rem;
    top: -0.75rem;
    font-size: 14px;
    width: 20px;
    height: 20px;
    opacity: 0.9;

  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #ca5527;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }